body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(233, 244, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u204 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u205 {
  position:absolute;
  left:18px;
  top:17px;
  width:19px;
  height:16px;
}
#u206 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u207 {
  position:absolute;
  left:320px;
  top:17px;
  width:19px;
  height:16px;
}
#u208 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:15px;
  background:inherit;
  background-color:rgba(206, 192, 219, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  position:absolute;
  left:0px;
  top:43px;
  width:360px;
  height:15px;
}
#u210 {
  position:absolute;
  left:2px;
  top:0px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
  background:inherit;
  background-color:rgba(233, 244, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  position:absolute;
  left:64px;
  top:560px;
  width:75px;
  height:63px;
}
#u212 {
  position:absolute;
  left:2px;
  top:24px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u213 {
  position:absolute;
  left:85px;
  top:14px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u215 {
  position:absolute;
  left:166px;
  top:14px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u217 {
  position:absolute;
  left:238px;
  top:14px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u219 {
  position:absolute;
  left:0px;
  top:600px;
  width:360px;
  height:40px;
}
#u220 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
